.repeater-selection {
    position: absolute;
    top: 35px;
    bottom: 0px;
    overflow: auto;
    width:calc(100% - 12px);
}

.section-item {
    width: 100%;
}

.section-item-block input, span {
    width:calc(100% - 10px);
}

.mat-column-tag {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 350px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-tagUsed {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 40px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-tagIsObject {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 40px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-tagObjectProperty {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 70px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-repeaterDataId {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 50px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-input {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 100px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-search {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 50px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-clear {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 50px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
